.sidebar
  height calc(100% - 22px)
  width 60px
  padding-top 4px
  box-shadow 1px 3px 2px -1px #7d7878
  text-align center
  position fixed
  .sidebar-item
    padding 8px
    margin 8px 0
    i
      font-size 24px
      color #BCBDBD
    &.setting
      position absolute
      width 60px
      bottom 0
      margin 16px 0
    &.selected
      i
        color #7A7E7B
