@import './syuanpi.styl'

wrapper($w)
  .{$w} .{$w}-wrapper
    position absolute
    top 22px
    left 50%
    z-index 2001
    transform translateX(-50%)
    box-shadow 0px 2px 2px 1px #b4b4b4
    min-width 300px
    padding 16px
    box-sizing border-box
    background-color #fff

.dialog
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  width 100%
  max-height 100%
  height calc(100vh - 22px)
  padding-top 32px
  padding-left 200px
  z-index 2000

wrapper('dialog')
